<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Magento\Framework\App\Http" type="SalesIgniter\Debugger\Framework\Http"/>
    <preference for="\Magento\Framework\Console\Cli" type="SalesIgniter\Debugger\Framework\Cli"/>
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="SirentDebuggerCatalogTemplate" type="SalesIgniter\Debugger\Plugin\Catalog\Template" sortOrder="90"/>
    </type>
    <!--<type name="Magento\Framework\Controller\Result\Json">
        <plugin name="salesigniter_debugger_magento_framework_controller_result_json" type="SalesIgniter\Debugger\Plugin\Magento\Framework\Controller\Result\Json"/>
    </type>-->
    <type name="Magento\Framework\App\FrontController">
        <plugin name="salesigniter_debugger_magento_framework_app_frontcontroller" type="SalesIgniter\Debugger\Plugin\Magento\Framework\App\FrontController"/>
    </type>
    <type name="Magento\Framework\Message\Manager">
        <plugin name="debugger_manager" type="SalesIgniter\Debugger\Plugin\Magento\Framework\Message\Manager"/>
    </type>

</config>
